.footer {
  background-color: #fff;
  padding: 50px 20px 20px;
  font-family: sans-serif;
  border-top: 1px solid #eee;
  margin-left: 90px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-left {
  max-width: 350px;
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.logo-img {
  width: 70px;
  height: 60px;
  margin-left: 50px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.newsletter-text {
  font-size: 1rem;
  color: #444;
  margin-bottom: 15px;
}

.newsletter-form {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.newsletter-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.btn-pink {
  background-color: #f31840;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-pink:hover {
  background-color: #f31840;
}

.privacy-text {
  font-size: 0.8rem;
  color: #666;
}

.footer-links {
  display: flex;
  flex: 2;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links h4 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  font-size: 0.95rem;
  color: #444;
}

.footer-links li {
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-links li:hover {
  text-decoration: underline;
}

.social-icons i {
  margin-right: 8px;
  color: #f31840;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #444;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer-bottom a {
  margin-left: 15px;
  color: #444;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.bottom-links {
  display: flex;
  gap: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
